.new-game-form {
    width: 30em;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

.create-game-btn-container {
    margin: 0;
    margin-top: 2em;
    background-color: transparent;
    text-align: center;
}

.add-new-player {
    text-align: center;
    width: 100%;
    background-color: transparent;
    color: black;
}

.player-name-input {
    float: left;
    width: 88%;
}

.delete-player-button {
    width: 12%;
}