<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div *ngIf="game">
      <h1>{{game.title}}</h1>
      <h2>{{game.location}}</h2>

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="player-column">Player</th>
            <th colspan="10">Score Card</th>
            <th>Total Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let scoreCard of game.scoreCards">
            <td>{{scoreCard.player.name}}</td>
            <td>
              <span *ngIf="scoreCard.scores[0]"><span *ngFor="let bowl of scoreCard.scores[0].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[0].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[1]"><span *ngFor="let bowl of scoreCard.scores[1].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[1].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[2]"><span *ngFor="let bowl of scoreCard.scores[2].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[2].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[3]"><span *ngFor="let bowl of scoreCard.scores[3].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[3].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[4]"><span *ngFor="let bowl of scoreCard.scores[4].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[4].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[5]"><span *ngFor="let bowl of scoreCard.scores[5].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[5].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[6]"><span *ngFor="let bowl of scoreCard.scores[6].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[6].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[7]"><span *ngFor="let bowl of scoreCard.scores[7].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[7].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[8]"><span *ngFor="let bowl of scoreCard.scores[8].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[8].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span *ngIf="scoreCard.scores[9]"><span *ngFor="let bowl of scoreCard.scores[9].bowls; let i = index;">{{bowl.pinsDown}}{{i === scoreCard.scores[9].bowls.length -1 ? '' : ', '}}</span></span>
            </td>
            <td>
              <span class="score">{{calculateScore(scoreCard)}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!game.isFinished">
        <h2>{{currentPlayer}}'s Turn <br>Bowl: {{currentBowl}}</h2>
        <div class="form-group">
          <h3>Select Pins Down</h3>
          <button *ngFor="let pinsDown of possiblePins;" class="btn btn-success" (click)="pinsDownClicked(pinsDown)">{{pinsDown}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>