<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/homepage">Bowling Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="new-game-button"><a routerLink="/new-game"><span class="glyphicon glyphicon-plus"></span> New Game</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/list-games">Previous Games
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngFor="let game of games"><a (click)="onSelect(game)">{{game.title}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>